<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.jeeker.awf.toggle</string>
	<key>connections</key>
	<dict>
		<key>0D270E40-D689-4AE1-8C6F-133B2B1DE2E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B314273-25F7-47E1-ACF3-1D7A28D710A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2B314273-25F7-47E1-ACF3-1D7A28D710A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6F0BC67-A161-4814-B2BB-C6CB624A4F36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>591C5CAF-19B1-4B2C-B12D-AA1D37F7AFF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B314273-25F7-47E1-ACF3-1D7A28D710A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B818BCF3-2579-476B-B916-F7F0987F3E19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B314273-25F7-47E1-ACF3-1D7A28D710A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinnLynn</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python toggle.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B314273-25F7-47E1-ACF3-1D7A28D710A5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Toggle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C6F0BC67-A161-4814-B2BB-C6CB624A4F36</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>wifi</string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B818BCF3-2579-476B-B916-F7F0987F3E19</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bluetooth</string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>591C5CAF-19B1-4B2C-B12D-AA1D37F7AFF9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>toggle</string>
				<key>script</key>
				<string>python toggle.py</string>
				<key>subtext</key>
				<string>toggle wifi, bluetooth, hidden files, etc.</string>
				<key>title</key>
				<string>Toggle</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D270E40-D689-4AE1-8C6F-133B2B1DE2E9</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D270E40-D689-4AE1-8C6F-133B2B1DE2E9</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>2B314273-25F7-47E1-ACF3-1D7A28D710A5</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>591C5CAF-19B1-4B2C-B12D-AA1D37F7AFF9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B818BCF3-2579-476B-B916-F7F0987F3E19</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C6F0BC67-A161-4814-B2BB-C6CB624A4F36</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jeeker.net</string>
</dict>
</plist>
