<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.jeeker.awf.YYeTs</string>
	<key>connections</key>
	<dict>
		<key>6D7DFA62-A65E-451E-8948-BC3DADA7AB22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1864AC3-471C-4AE9-A36F-522867435719</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D1864AC3-471C-4AE9-A36F-522867435719</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC8F25BF-E294-448D-8549-B4484F8F02B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinnLynn</string>
	<key>description</key>
	<string>人人影视资源查询获取</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YYeTs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>yy</string>
				<key>runningsubtext</key>
				<string>加载中...</string>
				<key>script</key>
				<string>python yyets.py {query}</string>
				<key>title</key>
				<string>人人影视</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D7DFA62-A65E-451E-8948-BC3DADA7AB22</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>人人影视</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DC8F25BF-E294-448D-8549-B4484F8F02B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>python action.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1864AC3-471C-4AE9-A36F-522867435719</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6D7DFA62-A65E-451E-8948-BC3DADA7AB22</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>D1864AC3-471C-4AE9-A36F-522867435719</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>DC8F25BF-E294-448D-8549-B4484F8F02B2</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jeeker.net</string>
</dict>
</plist>
