<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.jeeker.awf.ChineseDictionary</string>
	<key>connections</key>
	<dict>
		<key>06B45297-5875-40D3-9753-5D1869D09E57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64595E64-C2B3-49E1-AD95-944349519AD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA90C9D0-DEAB-4F63-977A-BB820C0ABE97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>09204506-9016-4039-8240-6AE53530988C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B9A4F01-98AB-43DB-905D-8CDF5FA00525</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45A93E3D-F638-4DF9-9FE6-94571F195A96</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>在爱词霸中搜索...</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>06B45297-5875-40D3-9753-5D1869D09E57</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB562D1A-B800-4206-A35F-125D201B91A9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>发音（取决于你系统的Text to Speech）</string>
			</dict>
		</array>
		<key>3272517A-F104-4912-9834-C5EF1333D846</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D6B40AB-DC63-4958-B0AF-EE9BB021199C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7AEB8EF4-E621-422F-91D0-A85C081D56B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09204506-9016-4039-8240-6AE53530988C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4C62EAD-24B3-4F5C-8BC0-6ECF622930A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3272517A-F104-4912-9834-C5EF1333D846</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinnLynn</string>
	<key>description</key>
	<string>使用在线词典进行中英互查 Look up words by online dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chinese Dictionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://dict.youdao.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7B9A4F01-98AB-43DB-905D-8CDF5FA00525</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://www.iciba.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>45A93E3D-F638-4DF9-9FE6-94571F195A96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>64595E64-C2B3-49E1-AD95-944349519AD9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7AEB8EF4-E621-422F-91D0-A85C081D56B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>cd</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python cndict.py "{query}"</string>
				<key>subtext</key>
				<string>使用在线词典进行中英互查 Look up word by online dictionary</string>
				<key>title</key>
				<string>中英词典</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>09204506-9016-4039-8240-6AE53530988C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>echo -n "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>06B45297-5875-40D3-9753-5D1869D09E57</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>`{query}` 已拷贝到剪切板</string>
				<key>title</key>
				<string>Chinese Dictionary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AA90C9D0-DEAB-4F63-977A-BB820C0ABE97</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>say "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB562D1A-B800-4206-A35F-125D201B91A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>python translate.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3272517A-F104-4912-9834-C5EF1333D846</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>快速翻译</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5D6B40AB-DC63-4958-B0AF-EE9BB021199C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A4C62EAD-24B3-4F5C-8BC0-6ECF622930A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06B45297-5875-40D3-9753-5D1869D09E57</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>09204506-9016-4039-8240-6AE53530988C</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>3272517A-F104-4912-9834-C5EF1333D846</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>45A93E3D-F638-4DF9-9FE6-94571F195A96</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>5D6B40AB-DC63-4958-B0AF-EE9BB021199C</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>64595E64-C2B3-49E1-AD95-944349519AD9</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7AEB8EF4-E621-422F-91D0-A85C081D56B1</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>7B9A4F01-98AB-43DB-905D-8CDF5FA00525</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A4C62EAD-24B3-4F5C-8BC0-6ECF622930A6</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>AA90C9D0-DEAB-4F63-977A-BB820C0ABE97</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>BB562D1A-B800-4206-A35F-125D201B91A9</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jeeker.net/</string>
</dict>
</plist>
