<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.jeeker.awf.Express</string>
	<key>connections</key>
	<dict>
		<key>59AE49E2-9649-4BE0-92A0-8878EAA0FC8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3367C62-E271-451C-AF17-87D425D11BFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D3367C62-E271-451C-AF17-87D425D11BFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1640-9247-4FFF-A05C-1663B6D60D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinnLynn</string>
	<key>description</key>
	<string>国内快递查询</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Express</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>快递查询</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>273C1640-9247-4FFF-A05C-1663B6D60D47</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>kd</string>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>python express.py {query}</string>
				<key>subtext</key>
				<string>『kd 运单号』如 kd 12345，『kd 快递公司 运单号』如 kd 顺风 1234</string>
				<key>title</key>
				<string>国内快递查询</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>59AE49E2-9649-4BE0-92A0-8878EAA0FC8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>python action.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D3367C62-E271-451C-AF17-87D425D11BFE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>273C1640-9247-4FFF-A05C-1663B6D60D47</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>59AE49E2-9649-4BE0-92A0-8878EAA0FC8E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D3367C62-E271-451C-AF17-87D425D11BFE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jeeker.net</string>
</dict>
</plist>
