<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.jeeker.TVCN</string>
	<key>connections</key>
	<dict>
		<key>23027990-9ACF-4037-8FB5-B4F97128D16C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A54061F-B617-4266-B523-91E14D74E29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F370D86-6CBF-4127-B81A-D5E05F221696</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23027990-9ACF-4037-8FB5-B4F97128D16C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinnLynn</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TVCN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>python action.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23027990-9ACF-4037-8FB5-B4F97128D16C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tv</string>
				<key>script</key>
				<string>python tvcn.py {query}</string>
				<key>title</key>
				<string>国内电视频道节目单</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7F370D86-6CBF-4127-B81A-D5E05F221696</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TVCN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9A54061F-B617-4266-B523-91E14D74E29E</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>23027990-9ACF-4037-8FB5-B4F97128D16C</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>7F370D86-6CBF-4127-B81A-D5E05F221696</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>9A54061F-B617-4266-B523-91E14D74E29E</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jeeker.net</string>
</dict>
</plist>
